
*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;color:inherit;}
body, html {cursor: url(../img/diamond-06-06-06.png)20 30, auto}
@font-face {font-family:'Pretendard';}
body{font-family:'Pretendard';
    word-break: keep-all;
}












